{% extends 'rayhan/main/base.html' %}
{% load static %}
{% block header %}
<a href="{% url 'control-users' %}"><i class="fa-solid fa-angle-left"></i> </a>
<div class="w-75 text-center">Изменить</div>
{% endblock header %}
{% block content %}
{% load crispy_forms_tags %}
<div class="jumbotron jumbotron-single d-flex align-items-center">
  <div class="container text-center">
      {% if request.user.is_staff %}
      <h3 class="">Изменить <b>пароль</b></h3>
    <section id="blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5 aos-init aos-animate" data-aos="fade-up">
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <button type="button" class="btn btn-info" onclick="togglePasswordVisibility()">Показать пароль</button>
					<form class="sign-up-form form" method="POST" enctype="multipart/form-data" autocomplete="off" autofocus="off">
                           {% csrf_token  %}
                            {{ form|crispy }}
                       {{ form.new_password|crispy }}


                        <button class="btn btn-info d-block m-auto  text-white mb-2 mt-2">Сохранить</button>
					</form>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>
{% endif %}
  </div>
</div>
<script>
  function togglePasswordVisibility() {
    var passwordFields = document.querySelectorAll('input[type="password"]');
    passwordFields.forEach(function(field) {
      field.type = field.type === 'password' ? 'text' : 'password';
    });
  }
</script>

{% endblock %}