{% extends '../main/base.html' %}
{% load static %}
{% block style %}
.jumbotron {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh; }
  @media (max-width: 767px) and (orientation: landscape) {
    .jumbotron {
      min-height: 500px; } }

  .jumbotron .container {
    position: relative;
    }
  .jumbotron:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.jumbotron h1 {
    line-height: .9;
    font-weight: bold;
    display: inline-block;
    border: 15px solid #fff;
    padding: 30px;
    font-size: 9rem;
    opacity: 0;
    animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
    animation-delay: .2s;
    text-align: center;
    }

.jumbotron-single h1 {
  font-size: 3rem !important; }

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 4rem; }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.text-shadow{
text-shadow: -1px 1px 0 #41ba45,
	1px 1px 0 #c63d2b,
	1px -1px 0 #42afac,
	-1px -1px 0 #c6c23f;
}
.text-gradients h2{
    font-size: 2.8em;
    font-weight: 600;
    background-image: linear-gradient(to right, #00CDAC, #02AAB0);

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align:center;
    text-transform: uppercase;
}
.text-gradients div{
    font-size: 2.6em;
    font-weight: 600;
    background-image: linear-gradient(to right, #799F0C, #FFE000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}
{% endblock style %}
{% block header %}
 <a href="{% url 'main' %}"><i class="fa-solid fa-arrow-left-long"></i></a>
 <div>Самса</div>
 <div></div>
{% endblock header %}
{% block content %}
{% load crispy_forms_tags %}
<div class="jumbotron d-flex pt-3" >
  <div class="container">
      {% if have_written and not edit_block %}

      <div class="d-flex justify-content-center align-items-center flex-column text-gradients h-100">
      {% for item_samsa in samsa_list_of_today %}
          <h2 class="text display-1">Мясо</h2>
          <div>{{item_samsa.samsa_meat}} шт</div>
          <h2 class="text display-1">Картошка</h2>
          <div>{{item_samsa.samsa_potato}} шт</div>
          <h2 class="text display-1">Зарплата</h2>
          <div>{{item_samsa.salary}} сом</div>
          <h2 class="text display-1">Сабой</h2>
          <div class="text-dark">{{samsa_result}} сом</div>

      {% endfor %}
    <h2 class="text-title">Расходы <a href="{% url 'samsa-edit-consumption' %}" class=" text-primary"><i class="fa fa-edit"></i> </a> </h2>
      {% for consumption in consumption_data %}
          <h2 class="text">{{consumption.name}}</h2>
          <div>{{consumption.quantity}} {{consumption.type_samsa}}</div>
      {% endfor %}


       </div>
      {% elif not have_written and not edit_block %}
      <form method="POST" enctype="multipart/form-data" class="text-center">
            {% csrf_token %}
        <div class="input-group">
            <span class="input-group-text">Мясо</span>
            <input type="number" inputmode="numeric"   name="meat_quantity" aria-label="" id="meat" class="form-control" required>
            <span class="input-group-text">Картошка</span>
            <input type="number" inputmode="numeric"  name="potato_quantity"  aria-label="" id="potato" class="form-control" required>
        </div>
          <div  class="btn btn-inline-block mx-auto btn-warning my-2 rounded" onclick="calculate()"><i class="fa-solid fa-calculator"></i></div>
        <div class="input-group">
             <span class="input-group-text">Зарплата</span>
            <input type="number" name="salary" id="salary"  class="form-control" required>
        </div>
        <div class="accordion my-2" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
             <strong class="me-auto">Расход</strong>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <div class="box-of-input"  id="formulario">
              </div>
              <div class="btn btn-sm  btn-dark rounded" onClick="addInput();">+</div>
          </div>
        </div>
      </div>
    </div>
             <button class="btn btn-sm btn-info rounded my-2" name="save_samsa_result">Сохранить</button>


      </form>
      {% endif %}
      {% if edit_block %}
      <form method="POST" enctype="multipart/form-data" class="text-center" >
          <h2 class="text-center">Изменить</h2>
            {% csrf_token %}
          {% for item_samsa in samsa_list_of_today %}
                <div class="input-group my-2">
                    <span class="input-group-text w-50">Мясо</span>
                    <input type="number" inputmode="numeric" id="meat"  name="meat_quantity" aria-label="" value="{{item_samsa.samsa_meat}}" class="form-control" required>
                    <input type="hidden" inputmode="numeric"  name="meat_id" aria-label="" value="{{item_samsa.id}}" class="form-control" required>
                </div>
                <div class="input-group my-2">
                    <span class="input-group-text w-50">Картошка</span>
                    <input type="number" inputmode="numeric" name="potato_quantity" id="potato" aria-label="" value="{{item_samsa.samsa_potato}}" class="form-control" required>
                </div>
           <div  class="btn btn-inline-block mx-auto btn-warning my-2 rounded" onclick="calculate()"><i class="fa-solid fa-calculator"></i></div>
                <div class="input-group my-2">
                     <span class="input-group-text w-50">Зарплата</span>
                     <input type="number" name="salary" value="" id="salary" class="form-control" required>
                     <span class="input-group-text">сом</span>
                </div>
          {% endfor %}
             <button class="btn btn-sm btn-info rounded my-2" name="edit_samsa_result">Сохранить</button>
      </form>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
    {% if not have_written or edit_block %}
        <script>
        let meat = document.getElementById('meat');
        let potato = document.getElementById('potato');
        let salary = document.getElementById('salary');

        function calculate(){
            salary.value = (meat.value*{{price_default_meat}})+(potato.value*{{price_default_potato}})

        }

        var counter = 1;
    var dynamicInput = [];

    function addInput(){
        var newdiv = document.createElement('div');
        newdiv.id = dynamicInput[counter];
        newdiv.innerHTML = '<div class="input-group inner-box-input mb-3">'+
                      '<span class="input-group-text">'+counter+'</span>'+
                      '<input type="text" class="form-control" placeholder="Имя" name="name" required>'+
                      '<input type="number" inputmode="numeric" class="form-control" name="consumption" placeholder="расход" required>'+
                        '<select name="type_samsa" class="form-select" id="inputGroupSelect01" required>'+
                            '<option selected value="">выберите</option>'+
                            '<option value="мясная">мясная</option>'+
                            '<option value="картошка">картошка</option>'+
                          '</select>'+
                      '<input type="button" class="text-danger input-group-text" value="x" onClick="removeInput('+dynamicInput[counter]+');">'+
                  '</div>'

        document.getElementById('formulario').appendChild(newdiv);
        counter++;
    }

      function removeInput(id){
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
      }


        </script>

    {% endif %}
{% endblock scripts %}