a{
    text-decoration: none !important;
    color: #000;
    font-family: "Arial";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { padding: 0; margin: 0; }

/*===== Home-main  ======*/
.header-main {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 12px 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: #fff;
}

/* ===== RESET ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    background:#f5f7fb;
    color:#1e293b;
}

/* ===== HEADER ===== */




.button-menu-right{
    font-size:20px;
    color:#555;
}

/* ===== TOP MENU ===== */
.top-menu{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-bottom:16px;
}

.top-menu a{
    background:#fff;
    border-radius:14px;
    padding:10px 6px;
    text-align:center;
    text-decoration:none;
    color:#111;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
    transition:0.2s;
}

.top-menu a:active{
    transform:scale(0.96);
}

.top-menu a i{
    font-size:18px;
    color:#56ab2f !important;
    margin-bottom:4px;
}

/* ===== BLOCK ===== */
.block{
    margin-bottom:16px;
}

/* TITLE */
.block__subject_name{
    font-size:13px;
    font-weight:600;
    color:#64748b;
    margin-bottom:8px;
    padding-left:6px;
}

/* CARD */
.block__card{
    background:#ffffff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

/* ITEM */
.block__item{
    display:flex;
    align-items:center;
    padding:14px;
    text-decoration:none;
    color:#111;
    transition:0.2s;
}

.block__item:active{
    background:#f1f5f9;
}

/* ICON */
.block__icon{
    width:42px;
    height:42px;
    border-radius:12px;
    background:#eef2ff;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:12px;
    font-size:18px;
    color: #56ab2f;
}

/* TEXT */
.block__text{
    font-size:14px;
    font-weight:500;
}

/* DIVIDER */
.block__item:not(:last-child){
    border-bottom:1px solid #f1f1f1;
}

/* MOBILE */
@media(max-width:480px){
    .block__text{
        font-size:15px;
    }
    .button-sos{
        display: none;
    }
}