.order-main {
    column-count: 3;
    height: 83vh;
    column-gap: 10px;
    column-rule: 3px dashed #333;
    column-fill: auto;
    font-weight: bold;
}

.header-order {
    display: flex;
    justify-content: between;
}
.bg-order-edited{
    background: linear-gradient(to right, #ec2F4B, #009FFF);
}
.bg-order-edited-online-order{
   background: #FFE000;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header-order div:first-child {
    width: 35%;
}

.header-order div:nth-child(2) {
    width: 25%;
}

.header-order > div, .link_order_header {
    width: 20%;
    text-align: center;
    padding: 6px;
    display:block;
}


@media (max-width: 768px) {
    .order-main{
        column-count: 1;
    }
    .button-sos{
        display: none;
    }
}