{% extends '../main/base_waitress.html' %}
{% load static %}

{% block header %}
    {% with link_to_back='main'  %}
      {% include '../waitressPage/components/arrow_left.html'   %}
    {% endwith %}
    {% with name_of_page='История расходов'  %}
      {% include '../waitressPage/components/name_page.html'   %}
    {% endwith %}
{% endblock header %}

{% block content %}
<section id="menu ">
    <div class="container pt-2  fs-3">

        <form class="d-flex pb-3">
            <input id="search_here" class="form-control me-2 fs-3" type="search" placeholder="Поиск" aria-label="Search">
        </form>
        <div class="table_search" id="box_search">
        {% regroup consumptions by create_date as objects_by_create_date %}
        {% for group in objects_by_create_date %}
            <div class="bg-dark p-2 text-white text-center">
                {{group.grouper}}
            </div>
            {% for consumption in group.list %}
            <div class="d-flex">
                <div class="bg-info w-50 my-1 p-1 rounded-start">{{consumption.name}}</div>
                <div  class="bg-light text-center w-50 my-1 p-1 rounded-end">{{consumption.summa}}</div>
                <div  class="bg-info text-center my-1 p-1 px-3 rounded-end">c</div>
            </div>

            {% endfor %}
        {% endfor %}
        </div>
    </div>
</section>
<!-- <div class="form-check form-switch">-->
<!--                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>-->
<!--                </div>-->
{% endblock content %}

{% block scripts %}
<script>
var formatTime = function(time, format){
            time = typeof time == 'number' ? new Date(time) : time;
            format = format || 'yyyy-mm-dd hh:MM:ss';
            var add0 = function(t){ return t < 10 ? '0' + t : t; };
            var year = time.getFullYear();
            var month = time.getMonth() + 1; // 0 indexed
            var date = time.getDate();
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            var replaceMent = {
                'yyyy': year,
                'mm': add0(month),
                'm': month,
                'dd': add0(date),
                'd': date,
                'hh': add0(hours),
                'h': hours,
                'MM': add0(minutes),
                'M': minutes,
                'ss': add0(seconds),
                's': seconds
            }
                for(var key in replaceMent){
                    format = format.replace(key, replaceMent[key]);
                }
                return format;
            }

const data = '{{qs_json}}'
  const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
  const input = document.getElementById('search_here')
  let filteredArr = []
  input.addEventListener('keyup', (e) => {
  let i = 0;
  box_search.innerHTML = `<form></form> `;
  filteredArr = rdata.filter((info) =>
    info['name'].toUpperCase().includes(e.target.value.toUpperCase())
  );

  // Sort filteredArr by create_date in descending order
  filteredArr.sort((a, b) => {
    const dateA = new Date(a['create_date']);
    const dateB = new Date(b['create_date']);
    return dateB - dateA;
  });

  let sum_of_consumption = 0;

  if (filteredArr.length > 0) {
    filteredArr.map((info) => {
      i++;
      var id_info = `${info['id']}`;
      let s = new Date(info['create_date']);
      let time_converted = formatTime(s, 'dd-mm-yyyy');
      sum_of_consumption += info['summa'];
      box_search.innerHTML += `
        <div class="d-flex justify-content-between rounded border fs-5 bg-dark">
            <div class="w-50 bg-success  text-white p-2 text-shadow-dark">${info['name']}</div>
            <div class="text-white p-2 text-shadow-dark">${info['summa']}</div>
            <div class="text-white p-2 border-start text-shadow-dark">${time_converted}</div>
        <div>
        `;
    });
    box_search.innerHTML += ` <div class="d-flex justify-content-between rounded border fs-5 bg-dark">
            <div class="w-50 bg-success  text-white p-2 text-shadow-dark">Общий</div>
            <div class="text-white p-2 text-shadow-dark">${sum_of_consumption}</div>
        <div>`;
  } else {
    box_search.innerHTML = "<div class='p-2'>Такого расхода не найдена ...</div>";
  }
});
</script>
{% endblock scripts %}
