{% extends '../main/base_waitress.html' %}
{% load static %}
{% block header %}
<a href="{% url 'waitress-list-items' %}"><i class="fa-solid fa-angle-left"></i> </a>
<div class="w-75 text-center">Правила</div>
{% endblock header %}

{% block content %}
<div class="container mt-2">
  <div class="fs-5">
    <h3>Правила для официантки</h3>

    <p><strong>1. Добавление блюда в рейтинг:</strong></p>
    <p>Повар добавляет блюдо в список рейтинговых блюд. Это блюдо будет доступно для продажи, и за каждую продажу вы будете получать медали.</p>

    <p><strong>2. Накопление медалей:</strong></p>
    <p>Медали накапливаются с каждым днем. У каждого участника будет своя медальная статистика. Кто соберет больше всего медалей к концу месяца — тот получит приз!</p>

    <p><strong>3. Приз:</strong></p>
    <p>Приз будет указан на странице <a class="text-primary" href="{% url 'rate-waitress' %}">Рейтинги</a>. Подробности о призе и процессе награждения можно найти в этом разделе. <br><strong>Примечание:</strong> Приз в денежной форме будет добавлен автоматически на ваш баланс. Вы сможете проверить его после получения приза.</p>

    <p><strong>4. Условия получения медалей:</strong></p>
    <ul>
      <li>Каждая ошибка, превышающая 15, влияет на вашу статистику и может помешать при получении приза.</li>
      <li>Если у вас есть хорошие рейтинги, это будет дополнительным плюсом для вашего результата!</li>
    </ul>
  </div>
</div>
{% endblock content %}
