{% extends '../main/base_waitress.html' %}
{% load static %}

{% block header %}
{% include './components/menu_left_waitress.html' %}

<a href="{% url 'main' %}" class="mx-auto btn fs-5">
      Главная
</a>
{% include './components/dropdown_menu.html' %}
{% endblock header %}
{% block position %}
    {% if not_closed_orders %}

    <div class="not-closed-orders fs-2  px-3">
        <a href="{% url 'main' %}" class="d-flex justify-content-end p-2">
            <div class="button-menu-right cursor-pointer text-danger"><i class="fa-solid fa-xmark"></i></div>
        </a>
        У вас не завершенные заказы
       {% for order in not_closed_orders %}
         {% ifchanged order.number_of_desk %}
             {% if user.type_rating == 2 %}
                <a href="{% url 'order-bill-detail' order.number_of_desk order.number_of_order order.code_bill False %}" class="d-flex justify-content-between border p-2 rounded m-1 my-2">
                    {% if order.number_of_desk == 0 %}
                        <div class="text-danger">#{{order.number_of_order}}</div>
                        <div class="text-primary">Собой</div>
                        <div class="text-white">{{order.create_date|date:"H:i"}}</div>
                    {% else %}
                        <div class="text-danger">#{{order.number_of_order}}</div>
                        <div class="text-primary">{{order.number_of_desk}}-стол</div>
                        <div class="text-white">{{order.create_date|date:"H:i"}}</div>
                    {% endif %}
                </a>
             {% else %}
                <div class="d-flex justify-content-between border p-2 rounded m-1 my-2">

                    {% if order.number_of_desk == 0 %}
                        <div class="text-danger">#{{order.number_of_order}}</div>
                        <div class="text-primary">Собой</div>
                        <div>{{order.create_date|date:"H:i"}}</div>
                    {% else %}
                        <div class="text-danger">#{{order.number_of_order}}</div>
                        <div class="text-primary">{{order.number_of_desk}}-стол</div>
                        <div>{{order.create_date|date:"H:i"}}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endifchanged %}
       {% endfor %}
    </div>
    {% endif %}

    {% if request.GET.bread_not_added == "show" %}
        <div class="not-closed-orders fs-2  px-3">
            <a href="{% url 'main' %}" class="d-flex justify-content-end p-2">
                <div class="button-menu-right cursor-pointer text-danger"><i class="fa-solid fa-xmark"></i></div>
            </a>
            У вас нет ни одного записи на лепёшки
        </div>
    {% endif %}

    {% if request.GET.bread_added_wrongly == "show" %}
        <div class="not-closed-orders fs-2  px-3">
            <a href="{% url 'main' %}" class="d-flex justify-content-end p-2">
                <div class="button-menu-right cursor-pointer text-danger"><i class="fa-solid fa-xmark"></i></div>
            </a>
            Вы не распредилили лепёшки
        </div>
    {% endif %}

{% endblock %}
{% block content %}

<div class="container p-0">
    {% if waitress_ok %}
        <div class="jumbotron vh-100 d-flex" style="background-image: url({% static 'account/r.png' %})">
          <div class="container mt-2 align-items-center d-flex mb-5 pb-5">
              <h1  class="display-1 fs-1 mb-4 w-100 ">Райхан  <br>кафе</h1>
          </div>
        </div>
    {% elif waitress_does_not_open_shift %}
    <div class="bg-secondary mx-auto mt-3 p-3 fs-2 rounded w-75 d-block  text-left text-decoration-none text-white"><i class="fa-solid fa-clock pr-3"></i>
        Вы отправили запрос на открытые смену..
    </div>
    <button class="btn btn-primary mx-auto w-75 d-block my-2" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Ждите
    </button>
    {% elif waitress_wanted_to_close_shift %}
    <div class="bg-secondary mx-auto mt-3 p-3 fs-2 rounded w-75 d-block  text-left text-decoration-none text-white"><i class="fa-solid fa-clock pr-3"></i>
        Вы отправили запрос на закрыть смену..
    </div>
    <button class="btn btn-primary mx-auto w-75 d-block my-2" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Ждите
    </button>
    {% elif end_page %}
     {% include './audio_after_work.html' %}
        <div class="jumbotron fs-1 h-100 bg-dark text-white" style="background-image: url({% static 'images/gif/success.gif' %})">
           {% if the_best_waitress %}
          <h2 class="display-2 mb-4 w-100 text-center border-0 text-danger text-shadow">Вы стали лучшим официантом<br> на сегодня</h2>
          {% endif %}
          <div class=" display-1 text-center mb-2">Смена закрыто</div>
          <h1 class="display-2 mb-4 w-100 border-0 text-danger text-shadow">Общая сумма</h1>
          <h1 class="display-1 mb-4 border-0 text-shadow w-100"><span class="text-success">{{summa.balance}}</span> <br>сом</h1>
          <h1 class="display-2 mb-4 w-100 border-0 text-danger text-shadow">Расход</h1>
          <h1 class="display-1 mb-4 border-0 text-shadow w-100"><span class="text-success">{{consumption}}</span> <br>сом</h1>
          <h1 class="display-2 mb-4 w-100 border-0 text-danger text-shadow">Итого</h1>
          <h1 class="display-1 mb-4 border-0 text-shadow w-100"><span class="text-success">{{result}}</span> <br>сом</h1>
      </div>
    {% else %}
    <div class="p-2  text-center waitress_page_body">
      <img src="{% static 'account/r.png' %}" width="100%" class="rounded" alt="Your Image">
        <h2 class="display-1 mb-4 text-shadow text-info w-100">Райхан кафе</h2>
        <h1 class="display-2 mb-4 w-100 border-0 text-dark text-shadow">{% if request.user.rate >= 10 %} <span>👑</span> {% endif %}{{request.user.username}}</h1>
        {% if late %}
            {% if late_minutes <= 15 %}
                <div class="alert alert-success">
                    <strong>Ты немного опоздал:</strong> {{ late_minutes|floatformat:0 }} минут{% if late_minutes > 1 %}ы{% endif %}.
                    <div>Все в порядке, можешь начать работу без штрафа.</div>
                </div>
                <a href="{% url 'start-work' %}" class="display-3 mb-4 w-100 border-0 btn btn-warning btn-lg fs-1 mt-4">Начать смену</a>
            {% elif late_minutes < 60 %}
                <div class="alert alert-danger">
                    <strong>Ты опоздал:</strong> {{ late_minutes|floatformat:0 }} минут{% if late_minutes > 1 %}ы{% endif %}.
                    <div class="display-3 mb-4 w-100 border-0 p-3 rounded fs-1 mt-4">Вы заблокированы, чтобы открыть смену вам нужно оплатить 100 сом.
                        <div>При нажатии кнопки "Оплатить", 100 сом будет автоматически добавлено на ваш счет.</div>
                    </div>
                    <a href="{% url 'late-user-start-work' price=100 %}" class="display-3 mb-4 w-100 border-0 btn btn-warning btn-lg fs-1 mt-4 mb-5">Оплатить</a>
                </div>
            {% include './audio_speak_late.html' %}

            {% else %}
                <div class="alert alert-danger">
                    <strong>Ты опоздал:</strong>
                    {{ late_hours }} час{% if late_hours > 1 %}ов{% endif %}
                    {{ remaining_minutes }} минут{% if remaining_minutes > 1 %}ы{% endif %}
                    <div class="display-5 mb-4 w-100 border-0 p-3 rounded fs-1 mt-4">Вы заблокированы, чтобы открыть смену вам нужно оплатить 200 сом.
                        <div>При нажатии кнопки "Оплатить", 200 сом будет автоматически добавлено на ваш счет.</div>
                    </div>
                    <a href="{% url 'late-user-start-work' price=200 %}" class="display-3 mb-4 w-100 border-0 btn btn-warning btn-lg fs-1 mt-4 mb-5">Оплатить</a>
                </div>
            {% include './audio_speak_late.html' %}

            {% endif %}
        {% else %}
            <div class="alert alert-success">
                <strong>Ты вовремя:</strong>
            </div>
            {% include './audio_speak_page.html' %}
            <a href="{% url 'start-work' %}" class="display-3 mb-4 w-100 border-0 btn btn-warning btn-lg fs-1 mt-4">Начать смену</a>
        {% endif %}

    </div>
    {% endif %}
</div>
{% endblock content %}
{% block footer %}
{% if waitress_ok %}
    {% include './components/footer_waitress.html' %}
{% elif waitress_does_not_open_shift %}
    <meta http-equiv="refresh" content="5">
{% elif waitress_wanted_to_close_shift %}
    <meta http-equiv="refresh" content="5">
{% endif %}

{% endblock footer %}
