
    <div class="container">
        <div class="row mb-2">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <h3 class="text-center text-danger ">Расходы</h3>
            </div>
            <div class="col-6">
                 <!-- Add Consumption Button -->
                <button class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fa-solid fa-plus"></i> Добавить</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                {% if qs_json %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th class="text-center">Сумма</th>
                            <th class="text-center">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consumption in consumptions %}
                        <tr>
                            <td>{{ consumption.name }}</td>
                            <td class="text-center">{{ consumption.summa }}</td>
                            <td class="text-center">
                                <!-- Edit button with modal trigger -->
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" data-name="{{ consumption.name }}" data-id="{{ consumption.id }}" data-summa="{{ consumption.summa }}"><i class="fa-solid fa-edit"></i> </button>
<!--                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editModal" data-id="{{ consumption.id }}" data-summa="{{ consumption.summa }}"><i class="fa-solid fa-trash"></i></button>-->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Расходов не найден.</p>
                {% endif %}
            </div>
        </div>
        <div class="alert alert-dark d-flex">
            <div class="w-50">Общий расход: </div>
            <div class="w-50 text-center fw-bold">{{ summa }} сом</div>

        </div>

    </div>
    {% include './consumptions_edit.html' %}
    {% include './consumptions_add.html' %}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var consumptionId = button.data('id');
            var consumptionName = button.data('name');
            var consumptionSumma = button.data('summa');
            var modal = $(this);
            modal.find('#edit_consumption_id').val(consumptionId);
            modal.find('#edited_summa').val(consumptionSumma);
            modal.find('#edited_name').val(consumptionName);
        });
    </script>
