{% extends '../main/base.html' %}
{% block header %}
<a href="{% url 'main' %}" class="button-menu"><i class="fa-solid fa-angle-left"></i> </a>
<div class="mx-auto">
    Управление отчётами продуктов
</div>
{% endblock header %}
{% block content %}
<div class="bg-light">
    <div class="container pt-2">
        <a href="{% url 'product-purchase' %}" class="d-block border rounded text-dark ps-3 my-1 p-3 fs-5"><span class="w-25 d-inline-block">📦🚚 </span>Покупка продукты </a>
<!--        <a href="{% url 'meal-recipes' %}" class="d-block border rounded text-dark ps-3 my-1 p-3 fs-5"><span class="w-25 d-inline-block">🧾🧾 </span>Рецепты</a>-->
        <a href="{% url 'ingredient-list' %}" class="d-block border rounded text-dark ps-3 my-1 p-3 fs-5"><span class="w-25 d-inline-block">🧾🧾 </span>Ингредиенты </a>
        <a href="{% url 'meal-ingredient' %}" class="d-block border rounded text-dark ps-3 my-1 p-3 fs-5"><span class="w-25 d-inline-block">📦</span>Ингредиенты для блюдо </a>
        <a href="{% url 'ingredient-stock-report' %}" class="d-block border rounded text-dark ps-3 my-1 p-3 fs-5"><span class="w-25 d-inline-block">📦🚚 </span>Остатка продуктов </a>
    </div>
</div>

{% endblock %}