{% extends '../main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<a href="{% url 'main' %}" class="button-menu"><i class="fa-solid fa-angle-left"></i> </a>
<div class="mx-auto">
    Блюды штук
</div>

{% endblock header %}

{% block content %}

{% if request.user.roles == "samsishnik" %}

<h2 class="text-center">Вам запрещено </h2>
<input class="form-control" type="number" placeholder="Введите код" id="input_code">
<button id="check_code" class="btn btn-primary mx-auto d-block my-2">Проверить </button>
<section id="content" style="display: none;">
{% else %}
<section>
{% endif %}
    <div class="container pt-2">
        {% regroup meals_count by name as sorted_meals_count %}
        {% for group in sorted_meals_count %}
        <div class="d-flex border rounded">
            <div class="bg-success w-50 text-white text-shadow-dark  p-2 rounded-start">{{group.grouper}}</div>
                <div class="bg-light w-50 text-center  p-2 rounded-end">
                    {% for item in group.list %}
                        {% if item.is_paid %}
                        {{item.summa|floatformat:0}}
                        {% else %}
                        <span class="text-primary">{{item.summa|floatformat:0}}</span>+
                        {% endif %}
                    {% endfor %}
                </div>

        </div>
        {% endfor %}
    </div>


{% if request.user.roles == "samsishnik" %}
</section>
{% else %}
</section>
{% endif %}
{% endblock content %}
{% block scripts %}
<script>
    let button = document.getElementById("check_code");
    button.onclick = function(){
    let input_code = document.getElementById("input_code").value;

          if (input_code == "0510") {
            document.getElementById("content").style.display = "block";

        }
    }


</script>
{% endblock scripts %}
